.thide {
    margin: 0 10px 10px 0;
}

.show {
    display: none;
}

.btnstop {
    display: none;
}
.input{
    margin: 0 10px 0 0;
}

.timer {
    margin: 10px 0 0 0;
    border: 1px solid black;
    height: 20px;
    width: 50px;
}